{
  "extends": "eslint-config-airbnb-es5",
  
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {"Promise": true}
  ,
  
  "rules": {
    // React-specific
    //  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    //  "react/forbid-prop-types": [1, { "forbid": ["any"] }],
    //  "react/no-did-mount-set-state": [0]
  }
}